@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Kay+Pho+Du:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

#fade, #modal {
    transition: 0.5s; 
    opacity: 1;
    pointer-events: all;

}
.randon-button {
    opacity: 0;
   
}

#fade {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
}

#modal {
    position: fixed;
    right: 1.6%;
    top: 9vh;
    z-index: 10;
    background-color: #fff;
    width: 250px;
    height: 150px;
    border-radius: 5% 0 5% 5%;   
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .212);
}

#modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
}

.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.modal-to-perfil{
    width: 80%;
    border: 2px solid   rgba(8, 8, 8, 0.281);  
    margin-top: 20px;
    border-radius: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.082);
}

.modal-logout-account {
    margin-top: 30px;
    width: 80%;
    border: 2px solid   rgba(8, 8, 8, 0.281);
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 30px;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.082);
}

.modal-to-perfil:hover{
    background-color: #cdfae2;
}
.modal-logout-account:hover {
    background-color: #cdfae2;
}


.sair-icon{
    margin-left: 5px;
    
}
.text-modal-sair {
    margin-left: 5px;
    color: #07753A;
}

.text-modal-perfil {
    margin-left: 5px;
    color: #07753A;
}




.header {
    background-color: #07753A;
    padding-inline: 16px;
}

.nav {
    max-width: 1500px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 85px;
    height: 70px;
    margin-top: 8px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}


.hamburguer {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
}
.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position:relative;
    transition: 0.3s;
}

.foto-nav{
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 3rem;
    position: fixed;
    width: 3rem;
}
.foto-nav-container {
    background: url(../img/UserPrime.png) no-repeat 50%/cover;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    position: relative;
    width: 3rem;
    opacity: 1;
    z-index: 0;
}
.foto-nav-modal{
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 2rem;
    position: fixed;
    width: 2rem;
}
.foto-nav-container-modal {
    background: url(../img/UserPrime.png) no-repeat 50%/cover;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    position: relative;
    margin-left: 5px;
    width: 2rem;
}

                                                        /* Tudo pra cima é navbar */

.hero {
    height: calc(100vh - 70px);
    background-color: #f7f5f5;
    display: flex;
    justify-content:center;
    align-items: center;
}

.perfil-container {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 2% 2% 2% 2%;      
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .212);
}

.perfil-header {
    width: 100%;
    height: 20%;
    border-radius: 7px 7px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1f8f51;
   
}

.foto-nav-container-perfil {
    background: url(../img/UserPrime.png) no-repeat 50%/cover;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 7rem;
    position: relative;
    margin-left: 8%;
    width: 7rem;
    z-index: 0;

}

.foto-nav-perfil{
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 7rem;
    position: fixed;
    width: 7rem;
    z-index: 0;
}
.cam-user-perfil {
    height: 30px;
    width: 30px;
    color: rgb(226, 220, 220)

}

.line-perfil {
    border: 1px solid rgba(0, 0, 0, 0.178);
}

.perfil-body {
    width: 100%;
    height: 80%;
    border-radius: 0 0 7px 7px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(236, 234, 234, 0.986);
}


.nome-usuario-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 100%;
    justify-content: center;
}
.email-usuario-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 100%;
    justify-content: center;;
}
.celular-usuario-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 100%;
    justify-content: center;
}
.descricao-usuario-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 100%;
    justify-content: center;
}
.senha-usuario-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 100%;
    justify-content: center;

}
.form-label-perfil {
    font-size: 18px;
}
.input-form-perfil {
    width: 80%;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.082);
    border: 2px solid   rgba(8, 8, 8, 0.281); 
    margin-bottom: 10px; 
    font-size: 14px;
    height: 20px;
    
} 
.input-form-perfil:hover {
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.281);
    margin-bottom: 10px; 
    
}
.form-control {
    width: 80%;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.082);
    border: 2px solid   rgba(8, 8, 8, 0.281);  
    margin-bottom: 10px; 
    font-size: 14px;
}
.form-control:hover {
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.281);
    margin-bottom: 10px; 
}

.textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.textarea:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form-buttons-perfil {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.button-perfil {
    width: 150px;
    height: 40px;
    
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.082);
    margin-right: 40px;
    border: 2px solid   rgba(8, 8, 8, 0.281);
    border-radius: 15px;
}

.button-perfil:hover {
    background-color: #cdfae2;
}



@media  (max-width: 1400px) {
    #modal {
        top: 5.5vh;
    }
}
@media screen and (max-width: 750px) {
    .hamburguer {
        display: block;
        z-index: 2;
    }
    #modal {
       right: 32%;
       top: 26.5%;
       border-radius: 5% 5% 5% 5%;  
       
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #07753A;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
        z-index: 1;
    }

    .nav-list a{
        font-size: 30px;
        opacity: 0;
    }
    .foto-nav, .foto-nav-container {
        opacity: 0;
        width: 9rem;
        height: 9rem;
    }

    .nav-list .foto-nav-container:nth-child(3) {
        transition: 0.5s 0.2s;
    }
    .nav-list .foto-nav:nth-child(4) {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.6s;
    }
    

    .nav.active .nav-list{
        clip-path: circle(2500px at 90% -15%);
        pointer-events: all;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .nav-list .foto-nav{
        opacity: 1;
    }
    .nav.active .nav-list .foto-nav-container{
        opacity: 1;
    }

    .nav.active .hamburguer {
        position:fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .foto-nav-perfil, .foto-nav-container-perfil {
        z-index: 0;
    }
}